body{
    background-color: rgb(228, 238, 248);
   
}

nav{
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    gap: 50px;
}
 
.cap{
    margin-left: 70px;
}

.beat{
    margin-right: 80px;
    border: 3px solid rgb(192, 224, 255);
    padding: 10px 10px;
    width: 100px;
}

.main{
    text-align: center;
}

h4{
    margin-bottom: -30px;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 70px;
}

button{
    width: 100px; height: 30px;
    background-color: rgb(250, 80, 60); 
    border: 0;
}

@media screen and (max-width:800px) {
    nav{
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    nav ul{
        flex-direction: column !important;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .flex{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

    }
    button{
        margin-top: 8px;
    }
}
